

{% extends 'partials/base.html' %} {% block content %}

<h5>Add a team member</h5>
<p>Set email, location and role</p>
<form method="POST">
  {% csrf_token %}

  <hr />
  <h6>Infomation</h6>
  <div>
    <label for="validationDefault01" class="col-md-7 mb-3">First Name</label>
    {{ form.first_name}}
  </div>
  <hr />
  <div>
    <label for="validationDefault02" class="col-md-7 mb-3">Last Name</label>
    {{ form.last_name}}
  </div>
  <hr />
  <div>
    <label for="validationDefault02" class="col-md-7 mb-3">Email</label>
    {{ form.email}}
  </div>
  <hr />
  <div>
    <label for="validationDefault02" class="col-md-7 mb-3">Phone Number</label>
    {{ form.phone_number}}
  </div>
  <hr />
  <label class="col-md-7 mb-3">Role </label>
  {{ form.role}}
  <div>
    <div class="col-sm-10">
      <label class="form-check-label" for="gridRadios1">
        Regular - Can't delete members
      </label>
    </div>
    <hr />
    <div class="col-sm-10">
      <label class="form-check-label" for="gridRadios2">
        Admin - Can delete members
      </label>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-4 mt-5">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}

