<!-- <h1>Hello world from index.html</h1> -->

{% extends 'partials/base.html' %}

{% block content %}
    <div >
        <a class="border btn btn-default" href="/addMember">
            <i class="bi bi-plus-lg"></i>
        </a>
        <hr>
        {% for member in members %}
        <div class="border p-3">
            <div class="row">
                <div class="col-md-10">
                    <h5>
                        {{ member.first_name }}
                        {{ member.last_name }}
                        {% if member.role == 'Admin' %}
                            <h7 style="color:red;">({{ member.role }})</h7>
                        {% endif %}
                    </h5>
                    <p>{{ member.phone_number }}</p>
                    <p>{{ member.email }}</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-info btn-sm" href="{% url 'membermangement-edit-item' member.id %}">Edit</a>
                    <!-- <a class="btn btn-danger btn-sm" href="#">Delete</a> -->
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}